@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.image_function2{
    width: 300px;
    height: auto;
    margin-left: auto;
    display: block;
}