@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.image_function2{
    width: 300px;
    height: auto;
    margin-left: auto;
    display: block;
}

/*Function 3*/
#bodyFunction3 {
    padding: 2em;
    text-align: center;
}
.cardsFunction3 {
    margin: 2em;
    margin-top: 0;
}

.cardFunction3 {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    margin: 2em;
    border: 1px solid black;
    padding: 1em;
}

#form_latitude, #form_longitude, #form_distance {
    width: 10%;
    margin : 1em;
    display: inline-block !important;
}

.alertBoxF3 {
    margin: auto;
    margin-bottom: 2em;