{% extends 'base.html.twig' %}

{% block body %}
    <div>
       <p>Avec votre budget, la surface possible du bien est d'en moyenne : {{moyenneSurface}}</p>
       <p>Avec une surface de terrain de : {{moyenneTerrain}}</p>
    </div>
{% endblock %}

