{% extends 'base.html.twig' %}

{% block body %}
    <div class="">
        {% if type == "1" %}
            <p>Avec votre budget, vous pouvez avoir une maison d'en moyenne : {{moyenneSurface}}m²</p>
            <p>Avec une surface de terrain de : {{moyenneTerrain}}m²</p>
        {% elseif type == "2"%}
            <p>Avec votre budget, vous pouvez avoir un appartement d'en moyenne : {{moyenneSurface}}m²</p>
        {% endif %}
    </div>
{% endblock %}

